<Configuration status="INFO">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %C (%F:%L) - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <File name="appLog" fileName="bookstore.application.log"
              immediateFlush="true" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>

        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="appLog"/>
            <AppenderRef ref="Console"/>
        </Root>
        <Logger level="info" name="com.bookstore" additivity="false">
            <AppenderRef ref="appLog"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <!--        <Logger level="trace" name="org.springframework.security" additivity="false">-->
        <!--            <AppenderRef ref="appLog"/>-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--        </Logger>-->
    </Loggers>
</Configuration>